@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.delete_icon {
  color: red;
  font-size: 1rem;
}

.edit_icon {
  color: #242164;
  font-size: 1rem;
}

.add_btn {
  margin-bottom: 10px;
  margin-right: 10px; 
}

.btn_wrap {
  float: right;
}

.input_fields {
  border: 1.21847px solid #3F8CFF;
  box-sizing: border-box;
  border-radius: 7.31079px; 
}

.submit_btn {
  color: #fff !important;
  background: green !important;
  border: none;
}

.cancel_btn {
  margin-right: 10px; 
}

.add_form, .edit_form {
  top:100px
}

.title {
  margin-top: 30px;
}

.user_wrap {
  margin-bottom: 30px;
}

.del_btn {
  color: #fff !important;
  background: red !important;
  border: none;
}